@import "./theme.scss";

.main-table {
//   background-color: $secondaryColorDark;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-linear-gradient(
    to right,
    $primaryColor 3%,
    $primaryColor 16.36%,
    lightGrey 16.36%,
    lightGrey 16.42%
  );
}
.home {
  height: 93vh;
  animation: load_down 1s ease-in forwards;
  -webkit-animation: load_down 1s ease-in forwards;
}
.experience1 {
  height: 100vh;
  // background: chartreuse;
}

.experience2 {
  height: 100vh;
  // background: aqua;
}
.experience3 {
  height: 100vh;
  // background: aquamarine;
}




@keyframes load_down {
  from {
    // opacity: 0;
    height: 0vh;
  }
  to {
    // opacity: 1;
    height: 100vh;
  }
}
@-webkit-keyframes load_down {
  from {
    // opacity: 0;
    // top: 0%;
    height: 0vh;
  }
  to {
    // opacity: 1;
    // top: 100%;
    height: 100vh;
  }
}