@import "./theme.scss";
@keyframes overlay {
  0% {
    width: 6.6vw;
  }
  100% {
    width: 13.36vw;
  }
}

.container {
  width: calc(100%-100px);
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  display: flex;
}
