.loader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #1f242d 50%, #e8e9ea 50%);
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s cubic-bezier(0.285, 0.105, 0.465, 1.015)
    400ms;
  justify-content: center;
  align-items: center;
  svg {
    transition: opacity 0.5s ease;
  }
}
.loader-finish {
  background-position: 0 -100%;
  //   transition: opacity 5s linear 4s;
  pointer-events: none;
  svg {
    opacity: 0;
  }
}
// .loader-finish-complete {
//   opacity: 0;
// }

#loading-circle {
  animation: circle 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes circle {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
